<link rel="stylesheet" type="text/css" href="demo_login.css">
<div class="wrapper">
	<div class="container">
		<h1>Xib chào con vợ</h1>
		
		<form class="form">
			<input type="text" placeholder="Tài khoản">
			<input type="password" placeholder="Mật khẩu">
			<button type="submit" id="login-button">Đăng nhập</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>